<section id="contact" class="bg-primary">
    <div class="container text-center">
      <h2 class="section-heading">Contact Us!</h2>
      <hr class="light">
        <div class="row">
            <div class="col-lg-5">
                <h3 class="section-heading">Artists</h3>
                <p>Ready to start spreading your music accross the world? Connect with us with the form below</p>
                <form class="form-group">
                  <input class="form-control" type="text" name="fullname" placeholder="Full Name">
                  <input class="form-control" type="email" name="email" placeholder="Email">
                  <button type="submit" class="btn btn-primay">Submit</button>
                </form>
            </div>
            <div class="col col-lg-2 mobile-hide" >

            </div>
            <div class="col-lg-5">
                <h3 class="section-heading">Businesses</h3>
                <p>Interested in hosting digital events at your storefront? Contact us here</p>
                <form class="form-group">
                  <input class="form-control" type="text" name="fullname" placeholder="Full Name">
                  <input class="form-control" type="email" name="email" placeholder="Email">
                  <button type="submit" class="btn btn-primay">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
