<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>SoundSeed</h1>
            <hr>
            <p>We give artists the ability to connect with their fans by giving them the ability to set the environment in which their art is experienced</p>
            <form class="row email-form">
              <input class="form-control" type="email" id="email-input" placeholder="Enter your email here to join our email list" />
              <button type="submit" id="email-submit" class="btn btn-primary btn-xl">Submit</button>
            </form>
        </div>
    </div>
</header>
