<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>SoundSeed</h1> -->
            <img src="../img/soundseed-logo-red.png" alt="Soundseed"/>
            <hr>
            <p>We give artists the ability to connect with their fans by giving them the ability to set the environment in which their art is experienced</p>
            <div class="row email-form" id="mc_embed_signup">
                <form action="//soundseed.us14.list-manage.com/subscribe/post?u=7f844cc84a4b489044e3b36a9&amp;id=3ef9714fd8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                      <h4><strong>Subscribe to our mailing list for updates on events and locations</strong></h4>
                        <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_7f844cc84a4b489044e3b36a9_3ef9714fd8" tabindex="-1" value="">
                        </div>
                        <div class="clear">
                            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-xl">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--End mc_embed_signup-->
        </div>
    </div>
</header>
