<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>SoundSeed</h1>
            <hr>
            <p>We give artists the ability to connect with their fans by giving them the ability to set the environment in which their art is experienced</p>
            <!-- <form class="row email-form">
              <input class="form-control" type="email" id="email-input" placeholder="Enter your email here to join our email list" />
              <button type="submit" id="email-submit" class="btn btn-primary btn-xl">Submit</button>
            </form> -->
            <!-- Begin MailChimp Signup Form -->
            <!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->
            <!--/*<style type="text/css">
                #mc_embed_signup {
                    background: #fff;
                    clear: left;
                    font: 14px Helvetica, Arial, sans-serif;
                }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>-->
            <!-- <div class="row email-form" id="mc_embed_signup">
                <form action="//soundseed.us14.list-manage.com/subscribe/post?u=7f844cc84a4b489044e3b36a9&amp;id=3ef9714fd8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <h4>Subscribe to our mailing list for updates on events and locations</h4>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Email Address">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-FNAME">First Name </label>
                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="First Name">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-LNAME">Last Name </label>
                            <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME" placeholder="Last Name">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        real people should not fill this in and expect good things - do not remove this or risk form bot signups
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_7f844cc84a4b489044e3b36a9_3ef9714fd8" tabindex="-1" value="">
                        </div>
                        <div class="clear">
                            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe email-submit" class="btn btn-primary btn-xl">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>
                (function($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL';
                    ftypes[0] = 'email';
                    fnames[1] = 'FNAME';
                    ftypes[1] = 'text';
                    fnames[2] = 'LNAME';
                    ftypes[2] = 'text';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
            </script> -->
            <!-- Begin MailChimp Signup Form -->
            <!-- <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup {
                    background: #fff;
                    clear: left;
                    font: 14px Helvetica, Arial, sans-serif;
                    width: 100%;
                }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style> -->
            <div class="row email-form" id="mc_embed_signup">
                <form action="//soundseed.us14.list-manage.com/subscribe/post?u=7f844cc84a4b489044e3b36a9&amp;id=3ef9714fd8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                      <h4><strong>Subscribe to our mailing list for updates on events and locations</strong></h4>
                        <!-- <label for="mce-EMAIL">Subscribe to our mailing list for updates on events and locations</label> -->
                        <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_7f844cc84a4b489044e3b36a9_3ef9714fd8" tabindex="-1" value="">
                        </div>
                        <div class="clear">
                            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-xl">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>

            <!--End mc_embed_signup-->
        </div>
    </div>
</header>
