<section class="text-center" id="portfolio">
    <div class="container-fluid">
      <h2 class="section-heading">Who Are We?</h2>
      <hr class="primary">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-lg-6 col-md-6 bio">
                <img src="img/Portfolio_new/Will_bio.png" class="img-responsive" alt="William Khaziri" width="263">
                <h4>William Khaziri</h4>
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            William Khaziri
                        </div>
                        <div class="project-name">
                            William Khaziri is the co-founder and CEO of Soundseed. He serves on the Advisory Board of Realstir Inc., a San Diego based real estate web search portal. Also, he oversees acquisitions and development for CHWD, his family’s real estate development firm.
                            William is also a film producer, with his latest project Locked in Stone winning the acclaimed IndieFEST award.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6 col-md-6 bio">
                <img src="img/Portfolio_new/David_bio.png" class="img-responsive" alt="David Khaziri" width="263">
                <h4>David Khaziri</h4>
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            David Khaziri
                        </div>
                        <div class="project-name">
                            David Khaziri is co-founder and Head of Research and Development for SoundSeed. As an Award Winning Film Director and Screenwriter, he brings a unique perspective to technology innovation with his storytelling experience. In addition, he attends Harvard University, pursuing a degree in Philosophy.
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row portfolio-row-2">
            <!-- <div class="col col-lg-4 col-md-4 bio">
                <img src="img/Portfolio_new/Guru_bio.png" class="img-responsive" alt="Guru Chandramahesh" width="263">
                <h4>Guru Chandramahesh</h4>
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Guru Chandramahesh
                        </div>
                        <div class="project-name">
                            Gurucharan is Soundseed's CTO and manages the company’s strategic technical direction to keep Soundseed at the cutting edge of technology in a highly competitive space. He brings experience with enterprise application development and leading a technical team. He worked at IBM, Siemens and currently working at Intuit. Gurucharan received MS in ComputerScience from CSULB in 2014.
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col col-lg-6 col-md-6 bio">
                <img src="img/Portfolio_new/Jen_bio.png" class="img-responsive" alt="Jen Nguyen" width="263">
                <h4>Jen Nguyen</h4>
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Jen Nguyen
                        </div>
                        <div class="project-name">
                            For Jen, User Experience is not just a career but a way of life. It's become a habit for her to observe the world and see ways in which it could be improved. She received a B.S in Cognitive Science with specialization in Human Computer Interactions at
                            UCSD.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-6 col-md-6 bio">
                <img src="img/Portfolio_new/Tim_bio.png" class="img-responsive" alt="Timothy Griffith" width="263">
                <h4>Timothy Griffith</h4>
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Tim Griffith
                        </div>
                        <div class="project-name">
                            Tim is co-founder and COO of Soundseed. In addition, he runs a freelance web development practice and is a contributing member of the development team for a San Diego based startup, SmartGarden. Tim received two B.A degrees in Political Science
                            and Economics from UCSD in 2015.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col col-md-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-md-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-md-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div> -->
    </div>
</section>
